 /* Navigation Bar 바로 아래에 위치합니다.##$$ */
  /* font-size: */
  /* font-familiy: */

  /* 높이는 350px , 너비는 브라우저 전체 영역입니다. */
    /* 두개 차이는? height = line-height + padding-top + padding-bottom */

     /* 이미지는 선택적으로 활용 가능하되 반드시 배경 이미지가 있어야 합니다.
  html 에서 설정 */

  /* Header 영역의 수직/수평 가운데 정렬 위치에 h2 태그를 사용하여 작성 해주세요. 
  수평*/
   /* background-image: url("images/background-img.jpg"); */
    /* <img class="background-img" src="images/20175771-01.jpg" alt="background-img"> */

/* header setting */
a{
  font-family:"Arial";
}

nav{
    font-family:"Arial";
}

body {
  overflow-y: auto;
}

header {
  margin-top: 56px;
  padding:100px;
  background-image: url(images/background-img2.jpg);
  background-position: 100% 30%;
  background-size: cover;
  height: 350px;
}    
 
/* 필수 사항을 제외한 모든 내용은 자유롭게 구성할 수 있습니다.
Header 배경 이미지, 색상 필터 등은 자유롭게 해주세요.
배경 이미지와 관련하여 (css 속성 background-* 를 활용해 보세요.) */

/* .header_{
  background-image: url(images/20198323-02.jpg);
} */

h2 {
  /* text-emphasis-color: blueviolet; */
  font-family: Arial;
  text-align: center;
  justify-content: center;
  /* background: #e6e6e6; */
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

footer {
  position:sticky;
  bottom: 0px;
  background-color: #333333;

  width: 100%;
  line-height: 50px;
  padding-right: 5px;
  padding-left: 5px;

  text-decoration-color: aliceblue;
  text-align: center;
}

.float-right{
  float:right;
}

/* .row {
  justify-content: space-between;  
} */




/* img XX */
img {
  opacity: 0.7;
}

/* 
body{
  height:10000px;
} */


/* .nav-item {
  margin-right: 5px;
}

.nav-link {
  margin-right: 10px;
}

.justify-content-end{
  justify-content: space-between;
}

.navbar-nav{
  justify-content: space-between;
} */
